/* club-setting.css */
body {
    font-family: 'NFont', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.setting-container {
    max-width: 1500px;
    margin: 40px auto;
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
}

.setting-container h1 {
    margin-top: 30px;
    /*margin-bottom: 20px;*/
    color: #333;
    /*border-bottom: 2px solid #3366cc;*/
    padding-bottom: 5px;
}

.setting-container h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #3366cc;
    padding-bottom: 5px;
}

.table-list {
    overflow-x: auto;
    margin-bottom: 30px;
}

.table-list table {
    border-collapse: collapse;
    width: 50%;
    min-width: 235px;

    margin-bottom: 20px;
}

.table-list th, .table-list td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

.table-list th {
    background-color: #f0f8ff;
    font-weight: bold;
    color: #333;
}

.table-log {
    overflow-x: auto;
    margin-bottom: 30px;
}

.table-log table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.table-log th, .table-log td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

.table-log th {
    background-color: #f0f8ff;
    font-weight: bold;
    color: #333;
}

.setting-container a button {
    margin-top: 20px;
    max-width: 600px;
    padding: 12px;
    background-color: #3366cc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.setting-container a button:hover {
    background-color: #254fa1;
}