<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}나름청소년활동센터{% endblock %}</title>
  
  <!-- 일반 메타데이터 -->
  <title>나름청소년활동센터</title>
  <meta name="description" content="gmyouth.or.kr과는 별개의 홈페이지입니다."/>
  <meta name="keywords" content="나름청소년활동센터, 광명시, 청소년 프로그램, 대관 신청"/>
  <meta name="author" content="나름청소년활동센터"/>

  <!-- Open Graph (SNS 공유용) -->
  <meta property="og:title" content="나름청소년활동센터"/>
  <meta property="og:description" content="gmyouth.or.kr과는 별개의 홈페이지입니다."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://nareum.life/"/>
  <meta property="og:image" content="{{ url_for('static', filename='files/main/meta_center_image.png') }}"/>
  <meta property="og:site_name" content="나름청소년활동센터"/>

  <!-- Favicon & CSS -->
  <link rel="icon" href="{{ url_for('static', filename='files/main/favicon/android-chrome-512x512.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% include 'components/header.html' %}

  {% block content %}
  {% endblock %}

  {% include 'components/footer.html' %}
  {% include 'components/floating_sns.html' %}
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>