{% extends "base.html" %} {% block title %}동아리 활동일지{% endblock %} {%
block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/club-diary.css') }}"
/>

<div class="form-container">
  <h2>나름청소년활동센터 동아리 활동일지</h2>
  <form action="/" method="POST">
    <label for="category">⋆ 동아리 분야</label>
    <input
      type="text"
      id="category"
      name="category"
      placeholder="동아리 이름을 선택하면 자동으로 표시돼요"
      readonly
    /><br />

    <label for="club-name">⋆ 동아리 명</label>
    <select id="club-name" name="club_name" required>
      <option value="" disabled selected>동아리를 골라주세요</option>
      {% for name in club_names %}
      <option value="{{ name }}">{{ name }}</option>
      {% endfor %}</select
    ><br />

    <label>⋆ 활동 일자</label>
    <div class="form-section">
      <input
        type="number"
        id="activity_year"
        name="activity_year"
        placeholder="YYYY"
        min="2020"
        required
      />
      <input
        type="number"
        id="activity_month"
        name="activity_month"
        placeholder="MM"
        min="1"
        max="12"
        required
      />
      <input
        type="number"
        id="activity_day"
        name="activity_day"
        placeholder="DD"
        min="1"
        max="31"
        required
      />
    </div>

    <label>⋆ 활동 시간</label>
    <div class="form-more">
      <div class="form-row">
        <div class="form-box">
          <label>시작 시각</label>
          <div class="form-section">
            <input
              type="number"
              min="00"
              max="24"
              name="start_hour"
              placeholder="09"
              required
            />
            <p>:</p>
            <input
              type="number"
              min="00"
              max="59"
              name="start_minute"
              placeholder="MM"
              value="00"
              required
            />
          </div>
        </div>
        <p>~</p>
        <div class="form-box">
          <label>종료 시각</label>
          <div class="form-section">
            <input
              type="number"
              min="00"
              max="24"
              name="end_hour"
              placeholder="18"
              required
            />
            <p>:</p>
            <input
              type="number"
              min="00"
              max="59"
              name="end_minute"
              placeholder="MM"
              value="00"
              required
            />
          </div>
        </div>
      </div>
    </div>

    <label>⋆ 참여자 (쉼표로 구분)</label>
    <input
      type="text"
      name="participants"
      placeholder="디렉터 안, 치프 강, 매니저 규, 스태프 홍"
      required
    /><br />

    <label>⋆ 연령 별 참여자 수</label>
    <div class="form-more">
      {% if error %}
      <p style="color: red">{{ error }}</p>
      {% endif %}
      <div class="form-row">
        <div class="form-box">
          <label>초등 남:</label>
          <input type="number" min="0" name="element_man" value="0" />
        </div>

        <div class="form-box">
          <label>초등 여:</label>
          <input type="number" min="0" name="element_woman" value="0" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-box">
          <label>중등 남:</label>
          <input type="number" min="0" name="middle_man" value="0" />
        </div>

        <div class="form-box">
          <label>중등 여:</label>
          <input type="number" min="0" name="middle_woman" value="0" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-box">
          <label>고등 남:</label>
          <input type="number" min="0" name="high_man" value="0" />
        </div>

        <div class="form-box">
          <label>고등 여:</label>
          <input type="number" min="0" name="high_woman" value="0" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-box">
          <label>후기 남:</label>
          <input type="number" min="0" name="univ_man" value="0" />
        </div>

        <div class="form-box">
          <label>후기 여:</label>
          <input type="number" min="0" name="univ_woman" value="0" />
        </div>
      </div>
    </div>

    <label>⋆ 작성자</label>
    <input type="text" name="author" placeholder="캡튼 안" required /><br />

    <label>⋆ 활동 내용</label>
    <textarea
      name="activity_content"
      rows="6"
      placeholder="다같이 모여서 작당모의를 야무지게 했다."
      required
    ></textarea
    ><br />

    <button type="submit">저장하기</button>
  </form>
</div>

<script>
  const clubDict = {{ club_dict | tojson }};
  const clubNameSelect = document.getElementById('club-name');
  const categoryInput = document.getElementById('category');

  clubNameSelect.addEventListener('change', function () {
    const selectedClub = this.value;
    categoryInput.value = clubDict[selectedClub] || '';
  });

  window.onload = function () {
    const selectedClub = clubNameSelect.value;
    categoryInput.value = clubDict[selectedClub] || '';
  };
</script>
{% endblock %}
