<div class="floating-sns">
  <div class="sns-header">
    <img src="{{ url_for('static', filename='files/main/foundation_logo_mini.png') }}" alt="광명시청소년재단 로고" class="fond-logo" />
    <div class="fond-title">
      <span>나름</span><br><strong>#SNS</strong>
    </div>
  </div>
  <div class="sns-links">
    <a href="https://www.youtube.com/@nareum1318" target="_blank" class="sns-item">
      <img src="{{ url_for('static', filename='files/main/youtube_icon.png') }}" alt="유튜브 아이콘" class="img" />
      <span>유튜브</span>
    </a>
    <a href="https://www.instagram.com/gm_nareum_official/" target="_blank" class="sns-item">
      <img src="{{ url_for('static', filename='files/main/instagram_icon.png') }}" alt="인스타그램 아이콘" class="img" />
      <span>인스타그램</span>
    </a>
    <a href="https://www.facebook.com/nareum1318" target="_blank" class="sns-item">
      <img src="{{ url_for('static', filename='files/main/facebook_icon.png') }}" alt="페이스북 아이콘" class="img" />
      <span>페이스북</span>
    </a>
  </div>
</div>