<header>
  <div class="header-row">
    <h1>
  	  <a href="https://clublog.nareum.life" style="text-decoration: none; color: inherit;">
        디딤 동아리활동일지
      </a>
  	</h1>
  	<button class="hamburger" id="hamburger">&#9776;</button>
  </div>
  <div class="nav-wrapper" id="nav-wrapper">
    <nav>
      <ul class="menu">
        <li>
          <a href="#">나름소개</a>
          <ul class="submenu">
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1264" target='_blank'>이용안내</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1269" target='_blank'>오시는 길</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>