<header>
  <div class="header-row">
    <h1>
  	  <a href="https://nareum.life">
      <img src="{{ url_for('static', filename='files/main/logo_nareum.png') }}" alt="나름청소년활동센터 로고" class="logo" />
      </a>
  	</h1>
  	<button class="hamburger" id="hamburger">&#9776;</button>
  </div>
  <div class="nav-wrapper" id="nav-wrapper">
    <nav>
      <ul class="menu">
        <li>
          <a href="#">프로그램 및 대관신청</a>
          <ul class="submenu">
              <li><a href="https://space.nareum.life" target='_blank'>대관신청</a></li>
              <li><a href="https://gmyouth.or.kr/www/selectLectureWebSList.do?key=1186" target='_blank'>청소년재단 수시프로그램</a></li>
          </ul>
        </li>
        <li>
          <a href="#">알림마당</a>
          <ul class="submenu">
              <li><a href="https://gmyouth.or.kr/nareum/selectBbsNttList.do?bbsNo=35&key=1247" target='_blank'>공지사항</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/selectBbsNttList.do?bbsNo=36&key=1248" target='_blank'>채용공고</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/selectBbsNttList.do?bbsNo=37&key=1249" target='_blank'>소통게시판</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/selectBbsNttList.do?bbsNo=38&key=1250" target='_blank'>자료실</a></li>
          </ul>
        </li>
        <li>
          <a href="#">홍보</a>
          <ul class="submenu">
              <li><a href="https://gmyouth.or.kr/nareum/selectBbsNttList.do?bbsNo=39&key=1252" target='_blank'>활동사진</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/selectBbsNttList.do?bbsNo=40&key=1253" target='_blank'>언론에 비친 나름</a></li>
          </ul>
        </li>
        <li>
          <a href="#">사업소개</a>
          <ul class="submenu">
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1256" target='_blank'>청소년운영위원회</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1257" target='_blank'>청소년동아리활동</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1258" target='_blank'>기초과학활동</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1259" target='_blank'>응용과학활동</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1260" target='_blank'>캠프활동</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1261" target='_blank'>후기청소년 취창업 지원활동</a></li>
          </ul>
        </li>
        <li>
          <a href="#">센터소개</a>
          <ul class="submenu">
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1263" target='_blank'>인사말</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1264" target='_blank'>시설 및 이용안내</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1265" target='_blank'>연혁</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1266" target='_blank'>미션&비전</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1269" target='_blank'>오시는 길</a></li>
              <li><a href="https://gmyouth.or.kr/nareum/contents.do?key=1271" target='_blank'>조직도</a></li>
          </ul>
        </li>
        <li>
          <a href="#">클러스터</a>
          <ul class="submenu">
              <li><a href="https://nareum.life/aboutCLUSTER">클러스터란?</a></li>
              <li><a href="#" target='_blank'>클러스터의 발자취</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>